*
!*/
!/nvim/**
!/zsh/.zshrc
!/zsh/.zprofile
!/zsh/.zsh_options
!/fish/config.fish
!/fish/fish_plugins
!/README.md
!/atcoder-cli-nodejs/cpp/**
!/.gitignore
!/GDB/**
!/kitty/**
!/i3/**
!/i3blocks/**
!/sway/**
!/waybar/**
